.main-tab-2 {
    background-color: rgba(255, 248, 251, 1);
    border-radius: 32px;
    margin: 40px 24px 80px;
    padding: 64px;
    overflow: hidden;
}
.main-tab-2 h1 {
    text-align: center;
    margin: 0 0 16px;
    color: #212B36;
}
.main-tab-2 p {
    text-align: center;
    margin: 0 0 40px;
    color: #FD71AF;
    font-size: 110%;
    font-weight: 500;
}
.tabs-2 {
    display: flex;
    position: relative;
}
.tab-link-2.active {
    opacity: 1;
}
.tab-link-2{
    opacity: 0.7;
    position: relative;
    font-size: 100%;
    font-weight: 500;
    color: #212B36;
    border: none;
    cursor: pointer;
    border-bottom: 5px solid transparent;
    /* margin: 0 40px 0 0 ; */
    padding: 10px 40px 10px 0;
    background-color: transparent;
    transition: all 0.5s ease;
}
.tabs-2 .line_2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    border-radius: 15px;
    background-color: #FD71AF;
    transition: all 0.2s ease;
}
.content-item-2{
    display: none;
}
.content-item-2.active{
    display: flex;
}
.content_container_2 {
    margin: 20px 20px 0 0;
    animation: slide-in-left 0.5s ease-in-out;
    flex: 1;
} 
.content_part_2 {
    display: flex;
}
.content_para_2 h3 {
    font-size: 205%;
    font-weight: 700;
    color: black;
    opacity: 0.8;
}
.content_para_2 p {
    color: #212B36;   
    font-size: 95%;
    word-wrap: break-word;
    text-align: left;
    margin-top: 32px;
}
.content_video_2 {
    margin: 20px 0 0 20px;
    animation: slide-in-right 0.5s ease-in-out;
    position: relative;
    height: auto;
    /* overflow: hidden;  */
    border-radius: 20px;
    background-color: transparent;
    flex: 1;
}
.content_video_2 video{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 30px;
    border: 1px solid transparent;
}


.content_button_2 a {
    text-decoration: none;
    color: white;
    background-color: #FD71AF;
    border-radius: 8px;
    display: block;
    font-weight: 500;
    padding: 8px 16px;
    width: max-content;
}

@keyframes slide-in-left {
    0% {
      /* transform: translateX(-20%); */
      opacity: 0;
    }
    100% {
      /* transform: translateX(0); */
      opacity: 1;
    }
  }
  
  @keyframes slide-in-right {
    0% {
      /* transform: translateX(20%); */
      opacity: 0;
    }
    100% {
      /* transform: translateX(0); */
      opacity: 1;
    }
  }
  
.prev-btn-2, .next-btn-2 {
    display: none;
}
.tabs-container-2 {
    display: flex;
    transition: transform 0.3s ease;
}
@media(max-width: 900px){
    .main-tab-2 {
        margin: 40px 16px 80px;
        padding: 16px;
        border-radius: 16px;
    }
    .main-tab-2 h1{
        font-size: 165%;
        padding: 16px;
    }
    .main-tab-2 p {
        margin: 0 0 40px;
        font-size: 100%;
        font-weight: 700;
    }
    .content-item-2 {
        flex-direction: column;
    }
    .content_video_2 {
        order: 1;
    }
    .content_container_2 {
        order: 2;
    }
    .tabs-2 {
        padding-left: 40px; 
    }
    .tab-item-2 {
        flex: 1;
        display: inline-block;
        flex-shrink: 0; 
    }
    .tabs-container-2 {  
        position: relative;
        overflow: hidden;
        overflow-x: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }
    .tab-link-2{
        opacity: 0.7;
        position: relative;
        font-size: 95%;
        white-space: nowrap;
        padding: 10px 40px 10px 0;
    }
    .prev-btn-2, .next-btn-2 {
        position: absolute;                       
        transform: translateY(-50%);                 
        top: 50%;   
        display: block;
        /* flex-shrink: 0;  */
        z-index: 1;
        /* background-color: rgba(240, 251, 248,1); */
        background-color: rgba(255, 248, 251, 1);
    }
    .prev-btn-2 {        
        left: -10px;                     
    }
    .next-btn-2 {          
        right: -10px;
    }
    .prev-btn-2 button, .next-btn-2 button {
        height: 100%;
        border: none;
        background-color: transparent;
        font-size: 130%;
        font-weight: 500;
        color: #212B36;
        opacity: 0.7;
        margin: 0 10px;
    }
    .content_video_2 {
        margin: 20px 0 12px 0;
    }
    .content_video_2 video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }    
    .content_container_2 {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .content_para_2 h3 {
        font-size: 165%;
    }
    .content_para_2 p {
        opacity: 0.9;
        line-height: 24px;
        font-size: 95%;
        margin-top: 24px;
        font-weight: 600;
        margin-bottom: 24px;
    }
    .content_button_2 a {
        border-radius: 8px;
        margin-bottom: 12px;
    }
}